.todo-heading {
  text-align: center;
  margin-top: 20px;
}

.selected-date-heading {
  text-align: center;
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-text {
  flex: 1;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

